@model Registrar.Models.Student

<h2>Student Details</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.EnrollmentDate): @Html.DisplayFor(model => model.EnrollmentDate)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This student is not enrolled in any courses</p>
}
else
{
  <p>@Html.ActionLink("See Completed courses only", "CompletedDetails", new { id = Model.StudentId })</p>
  <h4>Courses:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>
        @join.Course.Name
        @if (join.Complete)
        {
          <p>Completed</p>
        }
        else
        {
          <p>Incomplete</p>
        }
      </li>
      @using (Html.BeginForm("DeleteCourse", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Delete" />
      }
      @using (Html.BeginForm("SwitchCompleted", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Toggle Completed">
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add Course", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Edit student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete student", "Delete", new { id = Model.StudentId })</p>